<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/admin-sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/admin-dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/makeTrainer.css}">

    <title>create blog</title>
    <style>
        .form-control{
            border:1px solid #ccc;
            border-radius:0;
            padding:12px;
        }

        .form-control:focus{
            border:1px solid #000;
            box-shadow:none;
            outline:none;
        }

        .create-btn{
            width:100%;
            background:#222;
            color:#fff;
            padding:12px;
            font-weight:600;
            letter-spacing:2px;
            border:none;
            transition: 0.3s;
        }
        .create-btn:hover{
            background:var(--teal);
            color:#fff;
        }
    </style>
    <script src="https://cdn.tiny.cloud/1/wmnaz0d9gj0hhs8ipfa8x8xna7jw7y3h3pbfe322qqexjf28/tinymce/6/tinymce.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            tinymce.init({
                selector: '#editor',
                height: 400,
                menubar: false,
                plugins: 'link image lists code',
                toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | bullist numlist | code'
            });
        });
    </script>
</head>
<body>

<!-- Navbar -->
<div th:replace="fragments/navbar :: navbar"></div>

<!-- Dashboard Wrapper -->
<div class="dashboard-wrapper">
    <!-- Sidebar -->
    <div th:replace="fragments/admin-sidebar :: sidebar"></div>
<!--    <div th:replace="fragments/sidebar :: sidebar"></div>-->
    <!-- Main Content -->
    <main class="main-content">
        <div class="content">
            <div class="container py-5">

                <h2 class="mb-4">Create Blog</h2>

                <form th:action="@{/admin/blog/create}"
                      method="post"
                      enctype="multipart/form-data">

                    <div class="mb-3">

                        <label class="form-label">Title</label>

                        <input type="text"
                               name="title"
                               class="form-control"
                               required>

                    </div>

                    <div class="mb-3">

                        <label class="form-label">Category</label>

                        <input type="text"
                               name="category"
                               class="form-control">

                    </div>

                    <div class="mb-3">

                        <label class="form-label">Content</label>

                        <textarea id="editor" name="content"
                                  rows="8"
                                  class="form-control">
</textarea>

                    </div>
                    <!-- Cover Image -->
                    <div class="mb-3">
                        <label>Cover Image</label>
                        <input type="file" name="coverImage" class="form-control"
                               onchange="previewCover(event)">

                        <img id="coverPreview"
                             style="max-width:200px;margin-top:10px;display:none;">
                    </div>

                    <div class="mb-3">
                        <label>Blog Images</label>
                        <input type="file" name="images" multiple class="form-control"
                               onchange="previewImages(event)">

                        <div id="imagePreview" class="d-flex gap-2 mt-2"></div>
                    </div>

                    <!-- Publish Toggle -->
                    <div class="form-check mb-3">
                        <input type="checkbox"
                               name="published"
                               class="form-check-input"
                               id="publishCheck">

                        <label class="form-check-label">
                            Publish Now
                        </label>
                    </div>
                    <button class="btn btn-primary create-btn">Create
                        Create Blog
                    </button>
<!--                    <button-->
<!--                            sec:authorize="@permissionService.hasPermission(authentication,'BLOG_CREATE')"-->
<!--                            class="btn btn-primary create-btn">-->

<!--                        Create Blog-->

<!--                    </button>-->

                </form>

            </div>


        </div>
    </main>

</div>

<script>
    function previewCover(event) {
        const img = document.getElementById("coverPreview");
        img.src = URL.createObjectURL(event.target.files[0]);
        img.style.display = "block";
    }


    function previewImages(event) {

        const container = document.getElementById("imagePreview");
        container.innerHTML = "";

        for (let file of event.target.files) {

            let img = document.createElement("img");

            img.src = URL.createObjectURL(file);
            img.style.width = "100px";

            container.appendChild(img);
        }
    }
</script>
<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/logout.js}"></script>

</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<!--      lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">-->
<!--    <link rel="stylesheet" th:href="@{/css/global.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/navbar.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/admin-sidebar.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/admin-dashboard.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/makeTrainer.css}">-->

<!--    <title>create blog</title>-->
<!--    <style>-->
<!--        .form-control{-->
<!--            border:1px solid #ccc;-->
<!--            border-radius:0;-->
<!--            padding:12px;-->
<!--        }-->

<!--        .form-control:focus{-->
<!--            border:1px solid #000;-->
<!--            box-shadow:none;-->
<!--            outline:none;-->
<!--        }-->

<!--        .create-btn{-->
<!--            width:100%;-->
<!--            background:#222;-->
<!--            color:#fff;-->
<!--            padding:12px;-->
<!--            font-weight:600;-->
<!--            letter-spacing:2px;-->
<!--            border:none;-->
<!--            transition: 0.3s;-->
<!--        }-->
<!--        .create-btn:hover{-->
<!--            background:var(&#45;&#45;teal);-->
<!--            color:#fff;-->
<!--        }-->
<!--    </style>-->
<!--    <script src="https://cdn.tiny.cloud/1/wmnaz0d9gj0hhs8ipfa8x8xna7jw7y3h3pbfe322qqexjf28/tinymce/6/tinymce.min.js"></script>-->

<!--    <script>-->
<!--        document.addEventListener("DOMContentLoaded", function () {-->
<!--            tinymce.init({-->
<!--                selector: '#editor',-->
<!--                height: 400,-->
<!--                menubar: false,-->
<!--                plugins: 'link image lists code',-->
<!--                toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | bullist numlist | code'-->
<!--            });-->
<!--        });-->
<!--    </script>-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash; Navbar &ndash;&gt;-->
<!--<div th:replace="fragments/navbar :: navbar"></div>-->

<!--&lt;!&ndash; Dashboard Wrapper &ndash;&gt;-->
<!--<div class="dashboard-wrapper">-->
<!--    &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--    <div th:replace="fragments/admin-sidebar :: sidebar"></div>-->

<!--    &lt;!&ndash; Main Content &ndash;&gt;-->
<!--    <main class="main-content">-->
<!--        <div class="content">-->
<!--            <div class="container py-5">-->

<!--                <h2 class="mb-4">Create Blog</h2>-->

<!--                <form th:action="@{/admin/blog/create}"-->
<!--                      method="post"-->
<!--                      enctype="multipart/form-data">-->

<!--                    <div class="mb-3">-->

<!--                        <label class="form-label">Title</label>-->

<!--                        <input type="text"-->
<!--                               name="title"-->
<!--                               class="form-control"-->
<!--                               required>-->

<!--                    </div>-->

<!--                    <div class="mb-3">-->

<!--                        <label class="form-label">Category</label>-->

<!--                        <input type="text"-->
<!--                               name="category"-->
<!--                               class="form-control">-->

<!--                    </div>-->

<!--                    <div class="mb-3">-->

<!--                        <label class="form-label">Content</label>-->

<!--                        <textarea id="editor" name="content"-->
<!--                                  rows="8"-->
<!--                                  class="form-control">-->
<!--</textarea>-->

<!--                    </div>-->
<!--                    &lt;!&ndash; Cover Image &ndash;&gt;-->
<!--                    <div class="mb-3">-->
<!--                        <label>Cover Image</label>-->
<!--                        <input type="file" name="coverImage" class="form-control"-->
<!--                               onchange="previewCover(event)">-->

<!--                        <img id="coverPreview"-->
<!--                             style="max-width:200px;margin-top:10px;display:none;">-->
<!--                    </div>-->

<!--                    <div class="mb-3">-->
<!--                        <label>Blog Images</label>-->
<!--                        <input type="file" name="images" multiple class="form-control"-->
<!--                               onchange="previewImages(event)">-->

<!--                        <div id="imagePreview" class="d-flex gap-2 mt-2"></div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Publish Toggle &ndash;&gt;-->
<!--                    <div class="form-check mb-3">-->
<!--                        <input type="checkbox"-->
<!--                               name="published"-->
<!--                               class="form-check-input"-->
<!--                               id="publishCheck">-->

<!--                        <label class="form-check-label">-->
<!--                            Publish Now-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;                    <button class="btn btn-primary create-btn">Create&ndash;&gt;-->
<!--                    &lt;!&ndash;                        Create Blog&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </button>&ndash;&gt;-->
<!--                    <button-->
<!--                            sec:authorize="@permissionService.hasPermission(authentication,'BLOG_CREATE')"-->
<!--                            class="btn btn-primary create-btn">-->

<!--                        Create Blog-->

<!--                    </button>-->

<!--                </form>-->

<!--            </div>-->


<!--        </div>-->
<!--    </main>-->

<!--</div>-->

<!--<script>-->
<!--    function previewCover(event) {-->
<!--        const img = document.getElementById("coverPreview");-->
<!--        img.src = URL.createObjectURL(event.target.files[0]);-->
<!--        img.style.display = "block";-->
<!--    }-->


<!--    function previewImages(event) {-->

<!--        const container = document.getElementById("imagePreview");-->
<!--        container.innerHTML = "";-->

<!--        for (let file of event.target.files) {-->

<!--            let img = document.createElement("img");-->

<!--            img.src = URL.createObjectURL(file);-->
<!--            img.style.width = "100px";-->

<!--            container.appendChild(img);-->
<!--        }-->
<!--    }-->
<!--</script>-->
<!--<script th:src="@{/js/navbar.js}"></script>-->
<!--<script th:src="@{/js/logout.js}"></script>-->

<!--</body>-->
<!--</html>-->
