<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/common-hero-section.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">


    <title>Contact</title>
</head>
<body>
<!-- Navbar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- Hero -->
<div th:replace="~{fragments/hero-section :: hero(
        'Our Faicilities',
        'Feel free to reach out for membership and training inquiries.',
        @{/images/hero/bg-page2.webp}
)}"></div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/logout.js}"></script>

</body>
</html>